* {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #4870fe;
    --text-color: #000;
    --text-white: #fff;
    --background-gray: #f8f8f8;
    --text-gray: #b4b3b3
    --junior-level: #55b627
    --border-junior-level: #b0ff95
}

section {
    padding-left: 73px;
    padding-right: 73px;
    height: 100vh;
}

/* ini untuk navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 73px;
    padding-right: 73px;
    align-items: center;
}

.menu-item {
    margin-right: 77px;
    color: var(--text-color);
    font-size: 18px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-white);
    border: none;
    /* padding-left: 28px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 8px; */
    padding: 8px 28px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-line {
    background-color: transparent;
    color: var(--primary-color);
    padding: 8px 28px;
    border: 1.5px solid var(--primary-color);
    border-radius: 8px;
    margin-left: 18px;
    cursor: pointer;
}

.btn-line:hover {
    background-color: var(--primary-color);
    color: var(--text-white);
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
}

/* end navbar */

/* hero */
.Hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left span {
    font-weight: 700;
    letter-spacing: 1.9px;
}

.hero-left h2 {
    color: var(--text-color);
    font-size: 48px;
    font-weight: 600;
    margin-top: 37px;
    width: 647px;
    margin-bottom: 8px;
}

.blue {
    color: var(--primary-color);
}

.hero-left p {
    color: var(--text-color);
    font-size: 20px;
    width: 647px;
    margin-bottom: 52px;
}

/* Brands */
.brands {
    background-color: var(--background-gray);
    padding-left: 73px;
    padding-right: 73px;
    /* justify-content: center; */
    align-items: center;
}

.brand-wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

.why {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why-right h1 {
    color: var(--text-color);
    font-size: 48px

}

.why-right span {
    color: var(--primary-color);
}

.benefit {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.benefit .benefit-desc {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    width: 526px;
    height: 80px;
    padding: 20px 20px 20px 35px;
    position: relative;
}

.img-wrapper {
    position: absolute;
    left: -23px;
    top: 40px;
}

.benefit-desc h5 {
    color: var(--text-color);
    font-size: 21px;
    font-weight: 500;
    line-height: normal;
}

.benefit-desc p {
    color: var(--text-gray);
    font-size: 18px;
    font-weight: 400;
}


/* new program */

.new-program {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-program h1 {
    color: var(--text-color);
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.new-program span {
    color: var(--primary-color);
}

.program-wrapper {
    display: flex;
    justify-content: space-between;
}

.program img {
    margin-bottom: 21px;
}

.program .program-name {
    color: var(--text-color);
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 12px;
}

.program .junior-level {
    background-color:  #55b627;
    padding: 5px 20px;
    color: #fff;
    border: 2px solid #b0ff95;
    border-radius: 5px;
    margin-bottom: 9px;
}

.program .intermediate {
    background-color: #f17502;
    padding: 5px 20px;
    color: #fff;
    border: 2px solid #fff736;
    border-radius: 5px;
    margin-bottom: 9px; 
}

.program .Expert {
    background-color:  #ee0d0e;
    padding: 5px 20px;
    color: #fff;
    border: 2px solid #f67796;
    border-radius: 5px;
    margin-bottom: 9px;
}

.price {
    margin-top: 20px;
}

.selling-price {
    color: var(--text-color) !important;
    font-size: 20px;
    font-weight: 600;
    margin-right: 15px;
}

.ori-price {
    color:  #b4b3b3 !important;
    font-size: 20px;
    font-weight: 600;
    text-decoration: line-through;
}

.program-desc {
   color: #b4b3b3;
   font-size: 18px;
   font-weight: 500;
   width: 396px; 
   margin-bottom: 12px;
}

/* Partner */
.partners {
    padding-left: 73px;
    padding-right: 73px;
    background-color: #f8f8f8;
    padding-top: 30px;
    padding-bottom: 30px;
}

.partners h2 {
    color: var(--text-color);
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.partners span {
    color: var(--primary-color);
}

.partner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}
/* end partner*/

/* mentor */
.mentors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
    margin-bottom: 50px;
    padding-top: 60px;
}

.mentor-wrapper {
    display: flex;
    justify-content: space-between;
}

.mentors h1 {
    color: var(--text-color);
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.mentors span {
    color: var(--primary-color);
}

.subtitle {
    color: var(--text-color);
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.img-mentor-wrapper {
    border: 2px solid var(--primary-color);
}

.mentor-desc .name {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    margin-top: 13px;
}

.mentor-desc .role {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
}

.medsos {
    margin-top: 18px;
}

.medsos i {
    font-size: 24px;
    color: var(--primary-color);
    margin-right: 10px;
    padding: 8px;
    border-radius: 50%;
    background-color: #d8e1ff;
    cursor: pointer;
}

.btn-mentor {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
/* end mentor */

/* testimoni */
.testimoni {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.testimoni h1 {
    color: var(--text-color);
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 42px;
}

.testimoni-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.testimoni-desc {
    max-width: 600px;
}

.testimoni-desc h3 {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.testimoni-desc .message {
    color:  #b4b3b3;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 26px;
}

.testimoni-desc .role-as {
    color: #b4b3b3;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}
/* end testimoni */

/* footer */
.footer {
    padding: 50px 73px;
    background-color: #f9f9f9;
}

.top-footer {
    display: flex;
    justify-content: space-between;
}

.footer-desc a, p {
    color: var(--text-color);
    display: flex;
    margin-bottom: 8px;
    font-size: 16px;
}

.bottom-footer {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.medsos-footer {
    font-size: 24px;
    color: var(--primary-color);
    margin-right: 10px;
    padding: 8px;
    border-radius: 50%;
}

.footer-desc :hover {
    color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
}